*{
    font-family: "Raleway", sans-serif;
  }
body{
    background-image: url('https://p7014794.vo.llnwd.net/e1/media/catalog/product/cache/8a7c6b25d9e0c0695377faf36eecef90/w/o/wooden-pastel-coins.jpg'); background-repeat: no-repeat; background-size: cover; 
    
}
  h1 {
position: relative;
padding: 0;
margin: 0;
font-weight: 300;
font-size: 40px;
color: #080808;
-webkit-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
}
  .heading h1 {
text-align: center;
text-transform: uppercase;
padding-bottom: 5px;
}
.heading h1:before {
width: 28px;
height: 5px;
display: block;
content: "";
position: absolute;
bottom: 3px;
left: 50%;
margin-left: -14px;
background-color: #b80000;
}
.heading h1:after {
width: 100px;
height: 1px;
display: block;
content: "";
position: relative;
margin-top: 25px;
left: 50%;
margin-left: -50px;
background-color: #b80000;
}
.mybtn{
    
    border-width: 2px; 
    border-color: brown; 
    margin: 5%;
}

